<div id="<%= dom_id stock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= stock.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= stock.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= stock.product_id %>
  </p>

</div>
